<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zoy.mybatisjpa.dao.BlogMapper">

    <select id="selectBlog" parameterType="string" resultType="com.zoy.mybatisjpa.entity.Blog">
        select * from case02_blog
    </select>

</mapper>